body {
    padding-top: 5em;
    background-color: #d5dfef;
}
.container{
    border:none;
    padding:1em;
}
.heading{
    border:none;
    padding-left:1%;
    margin-top: 1%;
    margin-left: 15%;
    width:70%;
    height:90%;
}
.sub-container{
    border-top:solid 2px DodgerBlue ;
    background-color: white;
    padding:2.5%;
    margin-top: none;
    margin-left: 15%;
    width:70%;
    height:90%;
}
.textfield{
    width: 60%;
    border-radius:8px;
}
#textbox{
    height: 10em;
}
.button1{
    background-color:#00FF7F;
    border-radius: 8px;
}
.profile_boxes{
    border-top: solid 2px DodgerBlue ;
    background-color: white;
    margin:2em;
    padding: 0.5em;
    margin-left: 10%;
    width:80%;
    height:12em;
}
.pic-box{
    border: none;
    width:20%;
    float:left;
    margin:0.5em;

}
.pro_pic{
    width:100%;
    height:100%;
    
}
.profile_info{
   border: none;
   width:20%;
   float:left;
    margin:2em;
}
.viewbutton{
    margin-left: 5em;
}
.modal-dialog-1{
    border-top:solid 2px DodgerBlue;
    background-color: white;
    padding:2em;
    width:40em;
}